<!DOCTYPE html>
<html>
<head>
  <title>Ribbit</title>

  <link rel="stylesheet/less" href="/style.less" />
  <script src="/less.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="wrapper">
      <img src="/gfx/logo.png"/>
      <span>Ribbit</span>
      <% if current_user %>
          <%= link_to "Discover", ribbits_path %>
          <%= link_to "Users", users_path %>
          <%= link_to "Me", user_path(current_user) %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= form_tag sessions_path do %>
            <%= text_field_tag :username, nil, placeholder: "username" %>
            <%= password_field_tag :password, nil, placeholder: "password" %>
            <%= submit_tag "Login" %>
          <% end %>
      <% end %>
    </div>
  </header>
  
  <div id="content"> 
    <div class="wrapper">
      
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash #{name}" %>
      <% end %>

      <%= yield %>

    </div>
  </div>

  <footer>
    <div class="wrapper">
      Ribbit - A Twitter Clone in Rails
    </div>
  </footer>

</body>
</html>
